package {{.PackageName}};

import lombok.Data;
import lombok.experimental.Accessors;
import java.util.*;

@Data
@Accessors(chain = true)
public class {{.ClassName}} extends {{.BaseExceptionClassName}} {
  {{- range .Fields}}
  private {{.Type}} {{.Name}};
  {{- end}}

  public {{.ClassName}}() {
    super();
  }

  public {{.ClassName}}(String message) {
    super(message);
  }

  public {{.ClassName}}(String message, Throwable cause) {
    super(message, cause);
  }

  public {{.ClassName}}(Throwable cause) {
    super(cause);
  }
}
