package {{.PackageName}};

public class {{.ClassName}} extends RuntimeException {
  public {{.ClassName}}() {
    super();
  }

  public {{.ClassName}}(String message) {
    super(message);
  }

  public {{.ClassName}}(String message, Throwable cause) {
    super(message, cause);
  }

  public {{.ClassName}}(Throwable cause) {
    super(cause);
  }
}
